.formBtn{
    background-color: #4444ff;
    color: #fff;
    font-size: 11px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.posterBtn{
    background-color:#0101aa;
    color: #fff;
    width: 175px;
    border: none;
    padding: 5px;
    cursor: pointer;

}